<!-- start section journal -->
<div id="journal" class="text-left paddsection">

  <div class="container">
    <div class="section-title text-center">
      <h2>Por Venir</h2>
    </div>
  </div>
</div>
