<!-- start section services -->
<div id="services">
  <div class="container pt-5">
      <div class="services-carousel owl-theme">
        <div class="services-block">
          <i class="fas fa-road fa-2x"></i>
          <span>Rutas</span>
          <p class="separator">Encuentra y comparte rutas. Pronósticos, descripciones, imágenes y datos.
            Todo lo necesario para tu próxima expedición.</p>
        </div>

        <div class="services-block">
          <i class="fas fa-camera-retro fa-2x"></i>
          <span>Fotos</span>
          <p class="separator">Aburrido en la oficina. Ve y comparte las mejores fotos esquiando los andes.</p>

        </div>
        <%= link_to 'http://andestouring.com', target: :_blank do %>
          <div class="services-block">
            <i class="fas fa-ad fa-2x"></i>
            <span>Market Place</span>
            <p class="separator">Comprar, Vender o Arrendar</p>
            <p class="separator"><b><b>No busques más, estas a un solo click.</b></b></p>
          </div>
        <% end %>

        <div class="services-block">
          <i class="fas fa-address-book fa-2x"></i>
          <span>Comunidad</span>
          <p class="separator">Somos una comunidad de atletas y amantes del outdoor.
            Deja comentarios sobre las rutas!</p>

        </div>

        <div class="services-block">
          <i class="fas fa-skiing fa-2x"></i>
          <span>Esqui</span>
          <p class="separator">No Gappers allowed</p>
        </div>
      </div>
  </div>
</div>
<!-- end section services -->
