<!-- start section services -->
<div id="services">
  <div class="container pt-5">

      <div class="services-carousel owl-theme">

        <div class="services-block">

          <i class="fas fa-skiing fa-2x"></i>
          <span>Esqui</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>

        </div>

        <div class="services-block">
          <i class="fas fa-camera-retro fa-2x"></i>
          <span>Fotos</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>

        </div>

        <div class="services-block">
          <i class="fas fa-ad fa-2x"></i>
          <span>Market Place</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>

        </div>

        <div class="services-block">
          <i class="fas fa-address-book fa-2x"></i>
          <span>Comunidad</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>

        </div>

        <div class="services-block">
          <i class="fas fa-beer fa-2x"></i>
          <span>Fiesta</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>

        </div>

        <div class="services-block">
          <i class="fas fa-road fa-2x"></i>
          <span>Rutas</span>
          <p class="separator">To an English person, it will seem like simplified English,told me what </p>
        </div>
      </div>
  </div>

</div>
<!-- end section services -->
