<!-- start section header -->
<div id="header" class="home">
  <div class="container">
    <div class="header-content">
      <h1 class="">
        We are
        <span class="typed"></span>
      </h1>
      <p class="">
        South America, Andes Touring
      </p>
    </div>
  </div>
</div>
<!-- End section header -->

<!-- start section about us -->
<div id="about" class="class">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <div class="about-descr">
          <p class="p-heading">
            Aca va el tema princiapl de que somos
          </p>
          <p class="  separator">
            Aca va mas caca jajajjaj
          </p>
        </div>
      </div>

      <div class="col-lg-5">
        <%= image_tag("me.jpg", class: "img-fluid", alt:"img")%>
      </div>
    </div>
  </div>
</div>
<!-- end section about us -->

<%= render 'services.html.erb'%>

<%= render 'routes.html.erb'%>

<%= render 'photos.html.erb'%>
