<!-- start section header -->
<div id="header" class="home">
  <div class="container">
    <div class="header-content">
      <h1 class="">
        We are
        <span class="typed"></span>
      </h1>
      <p class="">
        South America, Andes Touring
      </p>
    </div>
  </div>
</div>
<!-- End section header -->

<!-- start section about us -->
<div id="about" class="class">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7">
        <div class="about-descr">
          <p class="p-heading">
            TU LUGAR PARA BUSCAR Y COMPARTIR RUTAS
          </p>
          <p class="pr-0">
            <small>
              * Cabe recordar que la <b><b>seguridad</b></b> en la montaña es <b><b>responsabilidad</b></b> de cada uno por lo que es vital conocer los peligros asociados a esta actividad.
              <br>
              * Los tiempos de recorrido en cada ruta dependen de las capacidades físicas y técnicas del que las esquía por lo que sólo se proporcionarán las distancias verticales y horizontales quedando a juicio individual la posibilidad de efectuarlas.
              <br>
              * Varios de los <b><b>accesos</b></b> son por <b><b>terrenos privados</b></b> por lo que es posible tener problemas con los propietarios al cruzar por ciertas zonas.
            </small>
          </p>
        </div>
      </div>

      <div class="col-lg-5">
        <%= image_tag("me.jpg", class: "img-fluid", alt:"img")%>
      </div>
    </div>
  </div>
</div>
<!-- end section about us -->

<%= render 'services.html.erb'%>

<%= render 'routes.html.erb'%>

<%= render 'photos.html.erb'%>
