<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
  <li class="nav-item pr-2 mx-0 border-right">
    <%= link_to "Mis Rutas", ski_routes_path %>
  </li>
  <li class="nav-item px-2 mx-0 border-right">
    <%= link_to "Editar Perfil", edit_user_path(current_user) %>
  </li>
  <li class="nav-item pl-2 mx-0">
    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
  </li>
</ul>
