<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="offset-1 col-2">
        <div class="row justify-content-center">
          <i class="fas fa-route fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Distance</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">4.2 km</h3>
        </div>
      </div>
      <div class="col-2">
        <div class="row justify-content-center">
          <i class="fas fa-mountain fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Elevation</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">500 m</h3>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="row justify-content-center">
          <i class="fas fa-hourglass-start fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Time</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">2h</h3>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="row justify-content-center">
          <i class="fas fa-cloud-sun fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Aspect</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">NE</h3>
        </div>
      </div>
      <div class="col-2 text-center">
        <div class="row justify-content-center">
          <i class="fas fa-skull-crossbones fa-4x"></i>
        </div>
        <div class="row mt-2 justify-content-center">
          <h6>Dificulty</h6>
        </div>
        <div class="row justify-content-center">
          <h3 class="font-weight-bold">3</h3>
        </div>
      </div>
    </div>
  </div>
</div>
