<div class="row extra_pic" data-id=0>
  <div class="col-sm-10 col-12 text-center py-3">
    <div class="custom-file">
      <%= file_field_tag :image, { class: 'custom-file-input', required: true, id: "ski_route[pictures_attributes][0][image]", name: "ski_route[pictures_attributes][0][image]" } %>
    </div>
  </div>
  <div class="col-sm-2 col-12 py-3 text-primary my-auto">
    <%= link_to '#', data: {toggle: "modal", target: "#pic_modal-0"}, class:'modal_btn' do %>
      <i class="far fa-comment-alt float-right fa-2x" data-toggle="tooltip" title="Agregarle texto a la imagen"></i>
    <% end %>
  </div>

  <div class="modal fade" id="pic_modal-0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Decripción para Imagen <span id="header-counter"> 0 </span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= text_field_tag :description, nil, id: "ski_route[pictures_attributes][0][description]", name: "ski_route[pictures_attributes][0][description]",
           class: 'form-control d-block pic_description' %>
        </div>
        <div class="modal-footer m-0 p-0">
          <small><em>*No apretar enter si no esta listo</em></small>
      </div>
      </div>
    </div>
  </div>
</div>
