<!-- Modal -->
<div class="modal fade" id="pic_modal-<%=i%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="">Decripción para Imagen 0</h5>
      </div>
      <div class="modal-body">
        <%= text_field_tag :description, nil,
                                       id: "ski_route[pictures_attributes][#{i}][description]",
                                       name: "ski_route[pictures_attributes][#{i}][description]",
                                       class: 'form-control d-block' %>
      </div>
    </div>
  </div>
</div>
